.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 6rem;
    background-color: #cf8b04;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
  }
  
  .main-image {
    width: 100%;
    height: 30rem;
    
  }
  
  .main-image img {
    width: 100%;
    height: 120%;
    
  }

  .h1{
    font-family: 'Tahoma';
    font-size: xx-large;
    color: whitesmoke;
  }

  .h2{
    font-family: 'Brush Script MT';
    color: black;
  }